extends ./Index 


block content
    form(action='/api/searchC', method='POST').searchCountry
      input(placeholder="Type your text", name="countryName", type="Enter country name").input
      button.reset(type="submit" name="submit")
        svg.h-6.w-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2")
          path(stroke-linecap="round", stroke-linejoin="round", d="M6 18L18 6M6 6l12 12")
    .table-container
      table
        thead
          tr
            th Code
            th Name
            th Continent
            th Region
            th Population
            th Capital
            th Actions
        tbody
          for country in data
            tr
              td #{country.Code}
              td #{country.Name}
              td #{country.Continent}
              td #{country.Region}
              td #{country.Population}
              td #{country.Capital}
              td
                a(href=`/updateCoutry/${country.Name}`).crud Edit
                a(href=`/deleteCoutry/${country.Name}`).crud Delete